[Desktop Entry]
Name=Crabdrop
GenericName=File Manager
Comment=S3-compatible file manager
Exec=crabdrop %U
Icon=io.github.alsofelix.crabdrop
Terminal=false
Type=Application
Categories=Utility;FileManager;Network;
Keywords=S3;MinIO;Object Storage;AWS;Files;Upload;Download;
