name: 'AUR Publish'

on:
  release:
    types: [ published ]

jobs:
  aur-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Extract version
        id: version
        run: echo "version=${GITHUB_REF_NAME#v}" >> "$GITHUB_OUTPUT"

      - name: Generate PKGBUILD
        run: |
          cat > PKGBUILD << 'EOF'
          # Maintainer: Felix <felix.crabdrop@gmail.com>
          pkgname=crabdrop-bin
          pkgver=${VERSION}
          pkgrel=1
          pkgdesc="A simple, fast file manager for S3-compatible storage"
          arch=('x86_64')
          url="https://github.com/alsofelix/crabdrop"
          license=('MIT')
          depends=('webkit2gtk-4.1' 'gtk3' 'openssl')
          provides=('crabdrop')
          conflicts=('crabdrop')
          source=("${url}/releases/download/v${pkgver}/crabdrop_${pkgver}_amd64.deb")
          sha256sums=('SKIP')

          package() {
            bsdtar -xf data.tar.gz -C "${pkgdir}/"
          }
          EOF
          sed -i "s/\${VERSION}/${{ steps.version.outputs.version }}/" PKGBUILD

      - name: Publish to AUR
        uses: KSXGitHub/github-actions-deploy-aur@v3.0.1
        with:
          pkgname: crabdrop-bin
          pkgbuild: ./PKGBUILD
          updpkgsums: true
          commit_username: 'Felix'
          commit_email: 'felix.crabdrop@gmail.com'
          ssh_private_key: ${{ secrets.AUR_SSH_KEY }}
          commit_message: "Update to ${{ steps.version.outputs.version }}"